/*************大圣插件模块begin*************/
.tab {
	font-size:14px;
}
.tab ul {
	list-style:none;
	padding:0;
	margin:0;
}
.tab li {
	list-style:none;
	float:left;
	background-color:#868686;
	color:#FFFFFF;
	padding:5px;
	margin-right:2px;
	border:1px solid #FFFFFF;
	cursor:pointer;
}
.tab div{
	clear:left;
	background-color:#6e6e6e;
	color:#FFFFFF;
	width:300px;
	height:100px;
	padding:10px;
	display:none;
}
.tab div.contentin{
	display:block;
}
.tab li.tabin{
	background-color:#6e6e6e;
	border:1px solid #6e6e6e;
}
/*************大圣插件模块end*************/
